.fade-slide {
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
}

.image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.image img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.first {
    background-image: url(slideshow1.png);
    background-position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0;
    animation: 20s fade-first infinite;
}

.second {
    background-image: url(slideshow2.png);
    background-position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0;
    animation: 20s fade-second infinite;
}

.third {
    background-image: url(slideshow3.png);
    background-position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0;
    animation: 20s fade-third infinite;
}

@keyframes fade-first {
    0%  {
        opacity: 1;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}


@keyframes fade-second {
    0%  {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

@keyframes fade-third {
    0%  {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}